* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Arial", "sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: inherit;
  font-weight: inherit;
  box-sizing: border-box;
  line-height: inherit;
  user-select: none;
  overscroll-behavior: contain;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: auto;
  overflow-x: hidden;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
}

#root {
  position: relative;
  height: 100%;
  max-height: 100%;
  width: 100%;
  overflow: auto;
  overflow: initial;
  color: #000000;
  background-color: #ffffff;
}

button {
  position: relative;
  display: flex;
  flex-direction: row;
  background: none;
  background-color: none;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
}

div {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
}

img {
  width: 100%;
  height: 100%;
}

a {
  text-align: left;
  text-decoration: none;
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 0;
}

a:visited {
  font-size: inherit;
  color: inherit;
}

b {
  font-weight: 600;
}

@media only screen and (min-width: 375px) and (max-width: 600px) {
}

/* Desktop */
@media only screen and (min-width: 600px) {
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  html {
    background: #cccccc;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  body {
    max-width: 390px;
    max-height: 90%;
    margin: 0;
    scrollbar-gutter: stable;
    padding-right: 5px;
  }
}
