@font-face {
  font-family: "Amazon";
  src: local("Amazon"), url("./AmazonEmber_Lt.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "Amazon";
  src: local("Amazon"), url("./AmazonEmber_Lt.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Amazon";
  src: local("Amazon"), url("./AmazonEmber_Rg.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Amazon";
  src: local("Amazon"), url("./Amazon-Ember-Medium.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Amazon";
  src: local("Amazon"), url("./Amazon-Ember-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Amazon";
  src: local("Amazon"), url("./AmazonEmber_Bd.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Amazon";
  src: local("Amazon"), url("./AmazonEmber_Bd.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  @font-face {
    font-family: "Amazon";
    src: local("Amazon"), url("./AmazonEmber_He.ttf") format("truetype");
    font-weight: 800;
  }
}
