@font-face {
  font-family: "Amazon";
  src: local("Amazon"), url("./Amazon-Ember-Lt.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "Amazon";
  src: local("Amazon"), url("./Amazon-Ember-Lt.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Amazon";
  src: local("Amazon"), url("./Amazon-Ember-Rg.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Amazon";
  src: local("Amazon"), url("./Amazon-Ember-Medium.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Amazon";
  src: local("Amazon"), url("./Amazon-Ember-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Amazon";
  src: local("Amazon"), url("./Amazon-Ember-Bd.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Amazon";
  src: local("Amazon"), url("./Amazon-Ember-Bd.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  @font-face {
    font-family: "Amazon";
    src: local("Amazon"), url("./Amazon-Ember-He.ttf") format("truetype");
    font-weight: 800;
  }
}
