# .env.template

ASPNETCORE_URLS=
#ASPNETCORE_Kestrel__Certificates__Default__Path=
ASPNETCORE_Kestrel__Certificates__Default__Path=
ASPNETCORE_Kestrel__Certificates__Default__Password=
ConnectionStrings__DefaultConnection=
Jwt__Key=
Jwt__Issuer=
Jwt__Audience=

